<div class="modal-overlay">
  <div class="modal-content">
    <h3>Сбросить пароль</h3>
    <div class="filter-group">
      <label>Новый пароль (6 или более символов)</label>
      <input
        type="text"
        [(ngModel)]="newPassword"
        placeholder="••••••••"
        (keyup.enter)="onReset(newPassword())"
      />
    </div>
    @if (errorMessage()) {
      <span style="display: flex; align-items: center; justify-content: center">
        {{ errorMessage() }}
      </span>
    }
    <div class="modal-actions">
      <button
        class="button"
        [disabled]="!newPassword().trim() || newPassword().length < 6"
        (click)="onReset(newPassword())"
      >
        Подтвердить
      </button>
    </div>
  </div>
</div>
