<div class="top-panel">
  <button class="mobile-filter-btn" (click)="isShowFilters.set(!isShowFilters())">
    {{ isShowFilters() ? 'Закрыть фильтры' : 'Показать фильтры' }}
  </button>

  <button class="mobile-filter-btn" (click)="isCreateModalOpen.set(true)">
    Создать новую запись
  </button>
</div>

<div class="page-layout">
  <aside [style.margin-bottom]="isShowFilters() ? '10px' : 0">
    <div class="filters" [class.is-open]="isShowFilters()">
      <div class="filter-group">
        <label>Поиск</label>
        <input
          type="text"
          [ngModel]="searchQuery()"
          (ngModelChange)="searchQuery.set($event)"
          placeholder="Начните воодить..."
        />
      </div>
      <div class="filter-group">
        <label>Тип оценивания</label>
        <select [ngModel]="selectedType()" (ngModelChange)="selectedType.set($event)">
          <option value="all">Все типы</option>
          @for (type of gradingTypes; track type) {
            <option [value]="type">{{ gradingTypeTranslation[type] }}</option>
          }
        </select>
      </div>
      <div class="filter-group">
        <label>Публичность</label>
        <select [ngModel]="selectedPublicity()" (ngModelChange)="selectedPublicity.set($event)">
          <option value="all">Все типы</option>
          @for (publicity of publicities; track publicity) {
            <option [value]="publicity">{{ publicityTranslation[publicity] }}</option>
          }
        </select>
      </div>
    </div>
    <div class="filters button" (click)="isCreateModalOpen.set(true)">Создать новую запись</div>
  </aside>

  <main class="subjects-grid view">
    @for (subject of filteredSubjects(); track subject.id) {
      <app-user-subject-component [subject]="$any(subject)"></app-user-subject-component>
    } @empty {
      <div class="message">
        <p style="text-align: center; line-height: 1.6">
          {{
            subjectList().length == 0
              ? 'Здесь появятся созданные вами дисциплины. Пока тут пусто.'
              : 'Ничего не найдено.'
          }}
        </p>
      </div>
    }
  </main>
</div>

@if (isCreateModalOpen()) {
  <div class="modal-overlay" (click)="isCreateModalOpen.set(false)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Создать новую запись</h3>
      @if (subjectList().length < 10) {
        <div class="filter-group">
          <label>Название</label>
          <input
            type="text"
            [(ngModel)]="newSubjectTitle"
            placeholder="Введите название..."
            (keyup.enter)="onCreate(newSubjectTitle())"
          />
        </div>
        <div class="modal-actions">
          <button
            class="button"
            [disabled]="!newSubjectTitle().trim()"
            (click)="onCreate(newSubjectTitle())"
          >
            Создать
          </button>
        </div>
      } @else {
        <h3 class="alert">Максимум 10 дисциплин</h3>
      }
    </div>
  </div>
}
