@use 'variables' as v;
@use 'mobile' as m;

:host {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  height: calc(100vh - v.$header-height);
  overflow-y: auto;
  @media (max-width: 768px) {
    height: calc(100vh - m.$header-height - m.$navbar-height);
  }
}

.auth-card {
  height: fit-content;
  width: 100%;
  max-width: 400px;
  background-color: v.$bg-secondary;
  padding: 20px;
  box-sizing: border-box;
  border-radius: v.$border-radius-main;
  border: none;
  box-shadow: v.$shadow-main;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .form-label {
      color: v.$text-main;
      font-size: v.$font-size-small;
      font-weight: 500;
      margin-left: 4px;
      @media (max-width: 768px) {
        font-size: m.$font-size-small;
      }
    }

    .form-input {
      height: v.$control-height;
      background-color: v.$bg-main;
      border: 2px solid v.$bg-tertiary;
      border-radius: v.$border-radius-secondary;
      color: v.$text-main;
      padding: 0 16px;
      font-size: v.$font-size-base;
      transition: v.$transition;

      @media (max-width: 768px) {
        height: m.$control-height;
        font-size: m.$font-size-small;
      }

      &::placeholder {
        color: rgba(v.$text-main, 0.3);
      }

      &:focus {
        outline: none;
        border-color: v.$text-main;
      }
    }
  }

  .mid-span {
    color: v.$text-main;
    text-align: center;
  }
}

.submit-btn {
  height: v.$control-height;
  margin-top: 8px;
  background-color: v.$bg-main;
  color: v.$text-main;
  border: 2px solid v.$bg-tertiary;
  border-radius: v.$border-radius-secondary;
  font-size: v.$font-size-small;
  font-weight: 600;
  cursor: pointer;
  transition: v.$transition;
  @media (max-width: 768px) {
    height: m.$control-height;
    font-size: m.$font-size-small;
  }

  &:hover:not(:disabled) {
    background-color: v.$bg-tertiary;
  }

  &:disabled {
    background-color: v.$bg-secondary;
    cursor: not-allowed;
  }

  &.switch {
    margin-top: 0;
  }

  &.forgot {
    height: fit-content;
    padding: 15px 0;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: v.$control-height;
  margin-top: 8px;
  background-color: v.$status-red-bg;
  color: v.$status-red-text;
  border: 2px solid v.$status-red-border;
  border-radius: v.$border-radius-secondary;
  font-size: v.$font-size-small;
  font-weight: 600;
  transition: v.$transition;
  @media (max-width: 768px) {
    height: m.$control-height;
    font-size: m.$font-size-small;
  }
}
