<div class="card">
  <div class="card-header">
    <h3 class="subject-name">{{ subject().name }}</h3>
    <h1 class="grading-badge" [class]="subject().gradingType.toLowerCase()">
      {{ gradingTypeTranslation[subject().gradingType] }}
    </h1>
  </div>

  <div class="card-body">
    <div class="left-group">
      <span class="label">Преподаватель</span>
      <span class="value">{{ subject().teacher }}</span>
    </div>

    <div class="right-group">
      <span class="label">Заданий</span>
      <span class="value accent">{{ subject().tasks.length }}</span>
    </div>
  </div>

  <div class="card-footer">
    <div class="user-info">
      <div class="user-avatar">
        {{ subject().user.fullName ? subject().user.fullName[0] : subject().user.username[0] }}
      </div>
      <div class="user-details">
        <span class="user-name">{{
          subject().user.fullName ? subject().user.fullName : subject().user.username
        }}</span>
        <span class="user-meta">{{ subject().user.group }}</span>
      </div>
    </div>
  </div>
</div>
