@if (!isAuthenticated()) {
  <app-auth-form></app-auth-form>
} @else {
  <div class="main-wrapper">
    @if (!isEnabled()) {
      <button class="warning" [disabled]="isResendDisabled()" (click)="onResend()">
        Подтвердите аккаунт,<br />
        иначе он будет удален <br />
        в течение одного дня. <br />
        Письмо отправлено на почту<br />
        (если она существует) <br />
        <b style="padding: 0">Отправить письмо повторно</b>
        {{ warningMessage() || '' }}
      </button>
    }
    <form class="main-container" [formGroup]="userForm">
      <div class="label-wrapper">
        <label>Имя пользователя</label>
        <span class="form-input disabled">{{ tokenUsername() }}</span>
      </div>
      <div class="label-wrapper">
        <label>Полное имя</label>
        <textarea
          class="form-input textarea"
          formControlName="fullName"
          placeholder="Джеффри Эпштейн"
        ></textarea>
      </div>
      <div class="label-wrapper">
        <label>Группа</label>
        <input class="form-input" formControlName="group" placeholder="БИВТ-23-СП-1" />
      </div>
      @if (isEdit()) {
        <button class="btn submit" (click)="onSubmit()">Подтвердить</button>
        <button class="btn" (click)="onCancel()">Отменить</button>
        <button class="btn delete" (click)="isDeleteModalOpen.set(true)">Удалить</button>
      } @else {
        <button class="btn edit" (click)="onEdit()">Редактировать</button>
        <button class="btn" (click)="logout()">Выйти</button>
      }
    </form>
  </div>
}

@if (isDeleteModalOpen()) {
  <div class="modal-overlay" (click)="isDeleteModalOpen.set(false)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Вы уверены?</h3>
      <h4>
        Это действие нельзя отменить. <br />
        Ваши дисциплины будут удалены <br />
        без возможности восстановления. <br />
        <br />
        Ваш логин сразу же освободится.
      </h4>
      <div class="modal-actions">
        <button class="submit-btn delete" (click)="onDelete()">Удалить</button>
        <button class="submit-btn" (click)="isDeleteModalOpen.set(false)">Отменить</button>
      </div>
    </div>
  </div>
}
