<div class="top-panel">
  <button class="mobile-filter-btn" (click)="isShowFilters.set(!isShowFilters())">
    {{ isShowFilters() ? 'Закрыть фильтры' : 'Показать фильтры' }}
  </button>
</div>

<div class="page-layout">
  <aside [style.margin-bottom]="isShowFilters() ? '10px' : 0">
    <div class="filters" [class.is-open]="isShowFilters()">
      <div class="filter-group">
        <label>Поиск</label>
        <input
          type="text"
          [ngModel]="searchQuery()"
          (ngModelChange)="searchQuery.set($event)"
          placeholder="Начните воодить..."
        />
      </div>
      <div class="filter-group">
        <label>Тип оценивания</label>
        <select [ngModel]="selectedType()" (ngModelChange)="selectedType.set($event)">
          <option value="all">Все типы</option>
          @for (type of gradingTypes; track type) {
            <option [value]="type">{{ gradingTypeTranslation[type] }}</option>
          }
        </select>
      </div>
    </div>
  </aside>

  <main class="subjects-grid browse">
    @for (subject of subjectList(); track subject.id) {
      <app-browser-subject-component [subject]="$any(subject)"></app-browser-subject-component>
    } @empty {
      <div class="message">
        <p style="text-align: center; line-height: 1.6">Ничего не найдено.</p>
      </div>
    }
    @if (subjectList().length > 0) {
      @if (loading()) {
        <div class="message">Загрузка...</div>
      } @else if (hasMore()) {
        <button class="message button" (click)="loadMore()">Показать еще</button>
      } @else {
        <div class="message">Вы просмотрели все доступные дисциплины</div>
      }
    }
  </main>
</div>
