@use 'variables' as v;
@use 'mobile' as m;

:host {
  display: block;
  height: 100%;
  z-index: 110;
  flex-shrink: 0;

  @media (max-width: 768px) {
    height: auto;
  }
}

.navbar {
  width: v.$navbar-width;
  height: 100%;
  background-color: v.$bg-secondary;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    width: 100%;
    height: m.$navbar-height;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    border-top: 2px solid v.$bg-tertiary;
    z-index: 1000;
  }

  .logo-container {
    padding: 24px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: v.$transition;

    @media (max-width: 768px) {
      display: none;
    }

    .logo {
      width: v.$logo-size;
      height: v.$logo-size;
    }

    &:hover,
    &.active {
      background-color: v.$bg-tertiary;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
      height: 100%;
    }

    .nav-item {
      width: v.$item-size;
      height: v.$item-size;
      background-color: v.$bg-secondary;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: v.$text-main;
      text-decoration: none;
      border-radius: v.$border-radius-main;
      transition: v.$transition;

      @media (max-width: 768px) {
        flex: 1;
        height: 100%;
        border-radius: 0;
      }

      &:hover,
      &.active {
        background-color: v.$bg-tertiary;
        color: v.$text-active;
      }

      &:hover .icon,
      &.active .icon {
        background-color: v.$text-active;
      }

      .icon {
        width: v.$icon-size;
        height: v.$icon-size;

        background-color: v.$text-main;

        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;

        &.view {
          -webkit-mask-image: url('/list.svg');
          mask-image: url('/list.svg');
        }

        &.browse {
          -webkit-mask-image: url('/browser.svg');
          mask-image: url('/browser.svg');
        }
      }
    }
  }
}
