@use 'variables' as v;
@use 'mobile' as m;

body {
  background-color: v.$bg-main;
  margin: 0;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  @media (max-width: 768px) {
    display: none;
    width: 0;
    height: 0;
  }
}
::-webkit-scrollbar-thumb {
  background: v.$bg-tertiary;
  border-radius: 10px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5);
}

.error-container {
  padding: 10px;
  color: v.$status-red-text;
  background-color: v.$status-red-bg;
  border: 2px solid v.$status-red-border;
  border-radius: v.$border-radius-main;
  font-size: v.$font-size-base;
  @media (max-width: 768px) {
    font-size: m.$font-size-base;
  }
}

.grade-badge {
  width: 40px;
  height: 40px;
  background-color: v.$bg-tertiary;
  color: #fff;
  border-radius: v.$border-radius-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: v.$font-size-base;
  user-select: none;
  transition: v.$transition;

  &.smaller {
    font-size: v.$font-size-small;
  }
}
